<!-- AUTHOR: Brawny Javier Mateo Reyes -->
<div class="row">
    <div class="col-md-4">
        <a href="/#!/Aplicaciones/NuevaAplicacion">
            <div class="bgc-light-blue-500 c-white p-20"
                 style="border-radius: 11px;min-height: 150px;">
                <div class="peers ai-c jc-sb gap-40">
                    <div class="peer">
                        <h3 class="text-center">Registrar Aplicaci&oacute;n</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <div class="bgc-light-green-500 c-white p-20" style="border-radius: 11px;min-height: 150px;">
            <div class="peers ai-c jc-sb gap-40">
                <div class="peer">
                    <h3 class="text-center">Aplicaci&oacute;nes Activas</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="background-color: #9c9c9c;border-radius: 11px;min-height: 150px;">
        <div class="bgc-light-s-500 c-white p-20">
            <div class="peers ai-c jc-sb gap-40">
                <div class="peer">
                    <h3 class="text-center">Aplicaci&oacute;nes Inactivas</h3>
                </div>
            </div>
        </div>
    </div>
</div>