<!-- AUTHOR: Yorki E. Encarnacion Moquete -->
<div ng-controller="UbicacionController as vm" class="row">
    <div class="masonry-item col-md-12" style="margin-bottom:15px!important">
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions"
                    layout="row"
                    layout-align="space-between center">
            <div class="md-toolbar-tools">
                <h5>Ubicacion</h5>
            </div>
            <div title="Ayuda"
                 onclick="javascript: introJs().setOption('nextLabel', 'Siguiente').setOption('prevLabel', 'Anterior').setOption('doneLabel', 'Listo').setOption('exitOnEsc', true).setOption('showStepNumbers', true).setOption('showProgress', true).setOption('skipLabel', 'Omitir').start();"
                 style="padding:16px; cursor:pointer">
                <i class="ti-help-alt"> </i>
            </div>
        </md-toolbar>
        <div class="bgc-white p-20 bd">
            <div class="mT-30">
                <form>
                    <div class="row"
                         data-step="1"
                         data-intro="Introduce aquí los datos del ubicacion que deseas crear.">
                        <md-input-container style="width:25%!important">
                            <label>Almacen</label>
                            <md-select ng-model="vm.NewUbicacion.idAlmacen"
                                       class="md-block"
                                       data-md-container-class="selectdemoSelectHeader"
                                       ng-change="">
                                <md-optgroup label="Almacen">
                                    <md-option ng-value="{{item.idAlmacen}}"
                                               ng-repeat="item in vm.Almacen" value="{{item.idAlmacen}}">
                                        {{item.nombreAlmacen}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <div class="col-md-3">
                            <md-input-container style="margin-bottom:0!important" class="md-block" flex-gt-sm>
                                <label>Pasillo</label>
                                <input ng-model="vm.NewUbicacion.pasillo">
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container style="margin-bottom:0!important" class="md-block" flex-gt-sm>
                                <label>Tramo</label>
                                <input ng-model="vm.NewUbicacion.tramo">
                            </md-input-container>
                        </div>
                        <div class="col-md-3">
                            <md-input-container style="margin-bottom:0!important" class="md-block" flex-gt-sm>
                                <label>Bandeja</label>
                                <input ng-model="vm.NewUbicacion.bandeja">
                            </md-input-container>
                        </div>
                        <div class="col-md-12">
                            <div layout="row" layout-align="end start">
                                <md-button class="md-raised md-primary"
                                           data-step="2"
                                           data-intro="Luego presiona este botón para enviar la solicitud de creación."
                                           ng-disabled="vm.isCreatingAnUbicacion"
                                           ng-click="vm.CreateUbicacion(vm.NewUbicacion)">Añadir</md-button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="masonry-item col-md-12">
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
            <div class="md-toolbar-tools"> <h5>Ubicaciones</h5></div>
        </md-toolbar>
        <div class="bgc-white p-20 bd">
            <div class="row" layout="row" layout-align="end start">
                <form ng-submit="vm.GetUbicaciones()"
                      class="col-md-12">
                    <div>

                    </div>
                </form>
            </div>
            <md-table-container data-step="3"
                                data-intro="Acá aparecerán las ubicaciones.">
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column>Almacen</th>
                            <th md-column>Pasillo</th>
                            <th md-column>Tramo</th>
                            <th md-column>Bandeja</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="Ubicacion in vm.Ubicaciones">
                            <td md-cell>{{Ubicacion.nombreAlmacen}}</td>
                            <td md-cell ng-click="vm.EditUbicacion(Ubicacion,'pasillo', ' Pasillo')">{{Ubicacion.pasillo}}</td>
                            <td md-cell ng-click="vm.EditUbicacion(Ubicacion,'tramo', ' Tramo')">{{Ubicacion.tramo}}</td>
                            <td md-cell ng-click="vm.EditUbicacion(Ubicacion,'bandeja', ' Bandeja')">{{Ubicacion.bandeja}}</td>
                            <td layout="col" layout-align="end center" style="padding:0!important" md-cell>
                                <md-button md-no-ink class="md-primary"
                                           ng-click="vm.Delete(Ubicacion, $event)"
                                           style="color:red">
                                    Eliminar
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="vm.limit"
                                 md-limit-options="[10,20,30,40]"
                                 md-page="vm.page"
                                 md-total="{{vm.totalUb}}"
                                 md-on-paginate="vm.GetUbicaciones"
                                 data-step="4"
                                 data-intro="Aquí puedes controlar la cantidad de registros que se te mostrarán"
                                 md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"
                                 md-page-select></md-table-pagination>
        </div>
    </div>
</div>