<!-- AUTHOR: Yorki E. Encarnacion Moquete -->
<style>
    .selectdemoSelectHeader {
        /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
    }

        .selectdemoSelectHeader .demo-header-searchbox {
            border: none;
            outline: none;
            height: 100%;
            width: 100%;
            padding: 0;
        }

        .selectdemoSelectHeader .demo-select-header {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
            padding-left: 10.667px;
            height: 48px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            width: auto;
        }

        .selectdemoSelectHeader md-content._md {
            max-height: 240px;
        }
</style>
<div ng-controller="AjusteController as View" layout="column">
    <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" style="background-color:rgb(0, 118, 205)!important"
                layout="row"
                layout-align="space-between center">
        <div class="md-toolbar-tools">
            <h5>Entrada o Desuso</h5>
        </div>
        <div title="Ayuda"
             ng-click="View.ShowAdvancedFilters = true"
             onclick="javascript: introJs().setOption('nextLabel', 'Siguiente').setOption('prevLabel', 'Anterior').setOption('doneLabel', 'Listo').setOption('exitOnEsc', true).setOption('showStepNumbers', true).setOption('showProgress', true).setOption('skipLabel', 'Omitir').start();"
             style="padding:16px; cursor:pointer">
            <i class="ti-help-alt"> </i>
        </div>
    </md-toolbar>

    <div class="bgc-white p-20 bd col-md-12">
        <div class="col-md-12">
            <h5>Filtros</h5>
            <hr />
            <!--<pre>{{View.EstadoRequerimiento|json}}</pre>-->
        </div>
        <div layout-gt-sm="row">
            <div class="col-md-4">
                <label>Tipo Ajuste</label>
                <md-select ng-model="View.filtro.TipoAjuste"
                           ng-change="View.GetAjustes()"
                           style="margin-top:0!important">
                    <md-option ng-value="1">
                        Entrada
                    </md-option>
                    <md-option ng-value="2">
                        Desuso
                    </md-option>
                </md-select>
            </div>
            <div class="col-md-4">
                <label>Estado</label>
                <md-select ng-model="View.filtro.Confirmado"
                           ng-change="View.GetAjustes()"
                           style="margin-top:0!important">
                    <md-option ng-value="1">
                        Confirmado
                    </md-option>
                    <md-option ng-value="2" selected>
                        No Confirmado
                    </md-option>
                </md-select>
            </div>
        </div>
        <div layout="row" layout-align="space-between start">
            <div>
                <md-button class="md-raised md-primary"
                           ng-hide="View.Autorizado==true"
                           ng-href="/#!/Registrar/Entrada" style="background-color:rgb(27, 52, 247)!important">Entrada</md-button>
                <md-button class="md-raised md-primary"
                           ng-hide="View.Autorizado==true"
                           ng-href="/#!/Registrar/Descargo" style="background-color:rgb(0, 169, 188)!important">Desuso</md-button>
                <!--<md-button class="md-raised md-primary"
                           ng-href="/#!/Registrar/Descargo" style="background-color:rgb(0, 169, 188)!important" hidden>Descargo</md-button>-->
            </div>
            <div>
                <md-button class="md-primary"
                           style="color: rgb(255, 87, 93); border-color: red; border-width: 1px; border-style: solid;"
                           ng-disabled="View.loadingDocuments"
                           ng-click="View.filtro=null;View.GetAjustes()"><span class="ti-na"></span>&nbsp;&nbsp;Limpiar Filtros</md-button>
                <md-button class="md-primary"
                           style="color: #3f51b5; border-color: #3f51b5; border-width: 1px; border-style: solid;"
                           ng-disabled="View.loadingDocuments"
                           ng-click="View.GetAjustes()"><span class="ti-reload"></span>&nbsp;&nbsp;Refrezcar</md-button>
                <md-button class="md-raised md-primary"
                           style="background-color:rgb(0, 118, 205)!important"
                           data-step="2"
                           data-intro="Luego de introducir el/los filtros, presiona este botón"
                           ng-disabled="View.loadingDocuments"
                           ng-click="View.GetAjustes()"><span class="ti-search"></span>&nbsp;&nbsp;Filtrar</md-button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h6 ng-if="!View.Ajuste.length" style="font-weight: 600;color: #3f51b5; text-align: center;">No hay Registros</h6>
                <md-table-container data-step="4"
                                    data-intro="Aquí serán mostrados los registros segun tu criterio de búsqueda (filtros)"
                                    ng-if="View.Ajuste.length"
                                    style="width:100%!important;font-weight:500!important">
                    <table md-table multiple ng-model="selected" md-progress="promise">
                        <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                            <tr md-row>
                                <th md-column>Id</th>
                                <th md-column>Tipo</th>
                                <th md-column>Fecha de Ajuste</th>
                                <th md-column>Fecha de Compra</th>
                                <th md-column>No.Orden</th>
                                <th md-column>Suplidor</th>
                                <th md-column>Almacen</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="Ajuste in View.Ajuste">
                                <td md-cell>{{Ajuste.idAjuste}}</td>
                                <td md-cell>{{Ajuste.tipoAjuste}}</td>
                                <td md-cell>{{View.formatDate(Ajuste.fechaRegistroAjuste)}}</td>
                                <td md-cell ng-if="Ajuste.fechaCompraAjuste">{{View.formatDate(Ajuste.fechaCompraAjuste)}}</td>
                                <td md-cell ng-if="!Ajuste.fechaCompraAjuste">N/D</td>
                                <td md-cell ng-if="Ajuste.noOrdenCompraAjuste">{{Ajuste.noOrdenCompraAjuste}}</td>
                                <td md-cell ng-if="!Ajuste.noOrdenCompraAjuste">N/D</td>
                                <td md-cell ng-if="Ajuste.suplidorCompraAjuste">{{Ajuste.suplidorCompraAjuste}}</td>
                                <td md-cell ng-if="!Ajuste.suplidorCompraAjuste">N/D</td>
                                <td md-cell>{{Ajuste.nombreAlmacen}}</td>
                                <td layout="col" layout-align="end center" style="padding:0!important" md-cell>
                                    <md-button md-no-ink class="md-primary"
                                               ng-if="Ajuste.tipoAjuste=='Entrada' && !Ajuste.confirmadoAjuste"
                                               href="/#!/Registrar/Entrada/{{Ajuste.idAjuste}}"
                                               style="color:blue">
                                        Editar
                                    </md-button>
                                    <md-button md-no-ink class="md-primary"
                                               ng-if="Ajuste.tipoAjuste=='Desuso' && !Ajuste.confirmadoAjuste"
                                               href="/#!/Registrar/Descargo/{{Ajuste.idAjuste}}"
                                               style="color:blue">
                                        Editar
                                    </md-button>
                                    <!--<md-button md-no-ink class="md-primary"
                                               ng-if="!Ajuste.confirmadoAjuste"
                                               ng-click="View.DeleteAjuste(Ajuste)"
                                               style="color:red">
                                        Eliminar
                                    </md-button>-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="View.limit"
                                     data-step="5"
                                     data-intro="Aquí puedes controlar la cantidad de registros que se te mostrarán"
                                     md-limit-options="[10,20,30,40]"
                                     md-page="View.page"
                                     md-total="{{View.totalAjust}}"
                                     md-on-paginate="View.GetAjustes"
                                     md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}"
                                     md-page-select></md-table-pagination>
            </div>
        </div>
    </div>
</div>